.mainBox {
  margin: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 1rem;
}

#input {
  width: 100%;
  height: 2rem;
  border-radius: 2px;
  border: 2px solid #e0e6eb;
}

.baseFont {
  font-weight: 900;
  color: #576775;
  font-size: 14px;
  align-self: start;
}

#textArea {
  height: 8rem;
  width: 100%;
  border-radius: 2px;
  border: 2px solid #e0e6eb;
}

#packageMap {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  overflow: scroll;
}

#packageMap::-webkit-scrollbar {
  display: none;
}
