.App {
  text-align: center;
  border: 2px solid black;
  width: fit-content;
  margin: auto;
 padding: 20px;
 border-radius: 7px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.AddTask{
  
margin: 4px;
padding: 2px;
background-color: burlywood;
border-radius: 4px;
animation: name duration timing-function delay iteration-count direction fill-mode;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
