li{
  list-style-type: none;
}
.navbar{
  display: flex;
  justify-content: space-around;
  font-size: larger;
  flex: 1;
  list-style-type: none;

}
.completeNavbar{
  /* border: 2px solid red; */
  display: flex;
}
.icon{
  height: 40px;
  border-radius: 50%;
}